.book-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.book-card-content:hover{
    transform: scale(1.07);
}
.book-card-content:hover img{
    box-shadow: 10px 5px 5px rgb(51, 51, 51);
}
.book-card-content:hover h3{
    text-shadow: 7px 2px 4px rgba(78, 78, 78, 0.673);
}

.content_img {
    width: 200px; 
    height: 274px; 
    overflow: hidden;
    transition: transform 0.3s;
}

.content_img img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.text-container {
    max-width: 180px;
    word-wrap: break-word;
    transition: transform 0.3s;
}

