<div class="book-card-content">
    <div class = "content_img">
        @if( bookList && bookList.covers && bookList.covers[0] !== -1 && bookList.covers[0] !== 0){
            <!-- img avec le lien de l'api src= ""-->
            <img src="{{'https://covers.openlibrary.org/b/id/' +bookList.covers[0]+'-M.jpg'}}" [alt]=""/>
        } @else {
            <!-- ou placeholder pour ceux n'ayant pas d'image' -->
            <img src="https://placehold.co/180x274" [alt]=""/>
        }
    </div>
    <h3 class="text-container">
        {{bookList?.title}}
    </h3>
</div>