 <body class="wrapper">
  <header class="book-list-header">
    <h1 class="app-title">Stephen King's books</h1>
  </header>
  <main class="book-list-main">
    <form class="search-bar" action="">
      <input class="search-input" type="text" placeholder="search a book here :)" (keyup)="filterResults(filter.value)" #filter>
      <!-- <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button> -->
    </form>
    <div class="content">
      @for (eachBook of filteredList; track eachBook.key) {
          <a [routerLink]="['/book-details', eachBook.key]">
          <app-book-card class="book-card"[bookList]="eachBook"></app-book-card>
        </a>
          }
    </div>
  </main>
</body>
