@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

.wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.book-list-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.book-list-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    width: 100%;
}


.search-bar {
    margin-top: 2em;
    width: 300px; 
}
  
.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.book-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 4rem;
    /* transition: transform 0.3s; */
}

/* .book-card:hover{
    transform: scale(1.05);
    box-shadow: 10px 5px 5px rgb(51, 51, 51);
    
} */

.content a{
    color: black;
    text-decoration: none;
}

.app-title{
    padding: 2rem;
    color: rgb(255, 235, 235);
    font-family: "Metal Mania", system-ui;
}