*{
    margin:0;
    padding:0;
}
.book-details_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-details_content img {
    border-radius: 10px;
}

.book-details-texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}
