<div class="book-details_content">
    <!-- <h1>{{bookId}}</h1> -->
        @if(book && book.covers && book.covers[0] !== -1 && book.covers[0] !== 0){
                
            <!-- img avec le lien de l'api [src]= ""-->
            <img src="{{'https://covers.openlibrary.org/b/id/' +book.covers[0]+'-L.jpg'}}" [alt]=""/>
        } @else {
            <!-- ou placeholder pour ceux n'ayant pas 'image' -->
            <img src="https://placehold.co/180x274" [alt]=""/>
        }
        <div class="book-details-texte">
            <h3>{{book?.title}}</h3>
            <div class="book-details-description">
                @if(book){
                    @if (book.description.value) {
                        <p>{{book.description.value}}</p>
                    } @else if(book.description) {
                        <p>{{book.description}}</p>
                    }
                }
                @if ((book && book.description == null )|| (book && book.description == undefined) ) {
                    <p>Désolé, nous n'avons pas de description pour ce livre.</p>
                }
            </div>
        </div>
    <!-- @if (book?.description?.value) {
        <p>{{book?.description?.value}}</p>
    } @else if(book?.description) {
        <p>{{book?.description}}</p>
    } @else {
        <p>Désolé, nous n'avons pas de description pour ce livre.</p>
    } -->
    
</div>
